
body {
   
    background-size: cover;
    background: url(background.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
}

.navClass ul {
    background-color: white;
    opacity: 0.8;
    color:black;
    font-size: 25px;
    font-family: Amatic SC;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    text-align: center;
}
.navClass ul li a {
    color: black;
    text-decoration: none;
}
.navClass ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
}
.navClass ul li:hover {
    background-color: orange;
    opacity: 0.5;
}
.welcome h1 {
    padding-top: 60px;
    text-align: center;
    color:bisque;
    font-family: Julius Sans One;
    font-size:3.5em;
}
.welcome p {
    text-align: center;
    color: white;
    font-family: Coustard;
    font-size: 18px;
}
.welcome h2 {
    text-align: center;
    color:aquamarine;
    font-family: Coustard;
    
}
.fonts h1 {
    padding-top: 60px;
    text-align: center;
    font-family: Special Elite;
    color:burlywood;
    
}
.fonts p {
    text-align: center;
    font-family: Coustard;
    color: white;
    font-size: 17px;
}
.fonts h2 {
    text-align: center;
    font-family: Numans;
    color:burlywood;
}
.img {
    width:700px;
    height: 500px;
    z-index: -1;     
}
.quote {
    text-align: center;
    font: italic 1.1em/2.2 georgia;
}
.quoteauthor {
    text-align: center;
    font: bold 1.1em/2.2 georgia;
}
.image{
    width:350px;
    height: 250px;
    z-index: -1; 
}
.menu4_table{
    width: 65%;
    border-style:dashed;
    border-color: gray

   
}

.center{
    text-align: center;

}