body {
   
    background-size: cover;
    background: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navClass ul {
    background-color: black;
    opacity: 0.8;
    color:black;
    font-size: 25px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    text-align: center;
}
.navClass ul li a {
    color: white;
    text-decoration: none;
    overflow: hidden;

    animation: fadeinout 5.5s infinite;
}
.navClass ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    overflow: hidden;
}
.navClass ul li:hover {
    background-color: green;
    overflow: hidden;
}
.welcome h1 {
    padding-top: 60px;
    text-align: center;
    color:bisque;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:3.5em;
}
.welcome p {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}
.welcome h2 {
    text-align: center;
    color:aquamarine;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.fonts h1 {
    padding-top: 60px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:burlywood;
    
}
.fonts p {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    font-size: 17px;
}
.fonts h2 {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:burlywood;
}
.img {
    width:700px;
    height: 500px;
    z-index: -1;
    transition: 0.1s ease-in-out; 
}

.img:hover{
    transform: scale(1.2);
}
.welcome .img{
    margin: auto;
    display: block;
}
.box{
    width: 800px;
    text-align: center;
    margin: auto;     
}

.quote {
    text-align: center;
    font: italic 1.1em/2.2 georgia;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	animation: anim1 4s steps(47) 1s 1 normal both;
}
.quoteauthor {
    text-align: center;
    font: bold 1.1em/2.2 georgia;
	animation: anim2 5s 1 normal;
}
@keyframes anim1{
	from{
		width: 0;
	}
	to{
		width: 27em;
	}
}
@keyframes anim2{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0;
	}
	40%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	80%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.image{
    width:250px;
    height:250px;
    z-index: -1;
    transition: 0.1s ease-in-out;  
}

.image:hover{
    transform: scale(1.2);
}
.container{
  max-width: 230px;
  height:250px;
  position: relative;
  width: 900px;
  margin: 50px;  
  display:inline-block;

} 
.image_aboutUs{
    width:250px;
    height: 250px;
    position: absolute;
    left: 0;
    top:0;
    border-radius: 50px;
    transition: 0.1s ease-in-out;
}

.image_aboutUs:hover{
    transform: scale(1.2);
}

.container .text{
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 70%;
  left: 15%;
  transition: 1s ease-in-out;
}

.text:hover{
    transform: scale(1.2);
}

.menu4_table{
    width: 65%;
    border-style:none;
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;

}
.center img {
    border-radius:50px;
}
.redText{
    color:red;
}
.redText u{
    color:red;
	animation: anim3 8s linear infinite;
}

@keyframes anim3{
	0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:1; text-shadow: 5px 5px 5px darkred;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}

.greenText{
    color: green;
}
.orangeText{
    color: orange;
}

.whiteText{
    color: white;
}

@keyframes fadeinout{
    0%{opacity: 0;}
    5%{opacity: 1;}
    50% { opacity:0; }
	70% { opacity:1; }
	100% { opacity:1; }
}
